html,
body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f4f5;
  font-family: "Nunito Sans", sans-serif;
}

#root {
  display: flex;
  height: 100%;
}

* {
  box-sizing: border-box;
}
